__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

build/
dist/
*.egg-info/

.DS_Store

model_files/
phi_out/
phi_out_sample/
phi_out_oracle_test/
figures/
